body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);
}

header {
  position: relative;
  text-align: justify;
  margin: 1rem;
  padding: 1rem;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 200;
  color: hsl(229, 6%, 66%);
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin-top: 0;
  font-size: 15px;
  color: hsl(229, 6%, 66%);
}

.tileContainer {
  display: flex;
  flex-flow: column;
  padding: 0.5rem;
}

.tile {
  border-radius: 5px;
  box-shadow: 0 1.3px 2px rgba(0, 0, 0, 0.049),
    0 3.5px 5.5px rgba(0, 0, 0, 0.07), 0 8.4px 13.3px rgba(0, 0, 0, 0.091),
    0 28px 44px rgba(0, 0, 0, 0.14);

  margin: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-top: 10px;
}

.tile h3 {
  margin-top: 20px;
  margin-bottom: 8px;
}

.tile img {
  margin-top: 10px;
  position: relative;
  top: 60%;
  left: 70%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#supervisor {
  border-top: 6px solid hsl(180, 62%, 55%);
}

#teamBuilder {
  border-top: 6px solid hsl(0, 78%, 62%);
}

#karma {
  border-top: 6px solid hsl(34, 97%, 64%);
}

#calculator {
  border-top: 6px solid hsl(212, 86%, 64%);
}

@media screen and (min-width: 600px) {
  body {
    max-width: 100%;
  }

  .container {
    width: 100vw;
    margin-bottom: 0;
    padding-top: 4rem;
  }

  header {
    margin: 0 auto;
    width: 500px;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  footer {
    position: relative;
  }

  .tileContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 60px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 0;
  }

  .tile {
    width: 300px;
    height: 200px;
    padding-bottom: 20px;
  }

  .tile img {
    position: relative;
    top: 0.5%;
  }

  #supervisor {
    grid-column-start: 2;
    grid-row-start: 3;
  }

  #teamBuilder {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  #karma {
    grid-column-start: 3;
    grid-row-start: 5;
    grid-row-end: 9;
  }

  #calculator {
    grid-column-start: 4;
    grid-row-start: 3;
  }
}
